body{
    background-image: url(../image/bg_ca.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    nav{
        display: flex;
        flex-direction: row;
        .nom{
            width: 40%;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            font-size: 40px;
        }
        .logo{
            width: 20%;
            display: flex;
            justify-content: center;
            img{
                width: 150px;
            }
        }
        .navbar{
            width: 40%;
            .bgRose{
                background-color: $rose;
                width: 70%;
                height: 50px;
                border-radius: 100px 0px 0px 100px;
                margin-top: 5vh;
                margin-left: 12vw;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    list-style: none;
                    li{
                        font-size: 20px;
                        margin-right: 2vw;
                        margin-top: 12px;
                    }
                    
                }
            }

        }
    }
}