{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section>
        <div class="retour">
            <a href="{{path('accueil')}}"><i class="fas fa-reply"></i></a>
        </div>
        <h1>Me connecter</h1>
        <div class="formCompte">
        
        </div>
    </section>
{% endblock %}