{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>
                <h1>Me connecter</h1>




        <div class="formCompte">
        
    {% if error %}
            <div>Les informations sont incorrectes</div>
    {% endif %}
            <div class="formG">
                <label class="labelBox">Mon Login :</label>
                <input type="text" required name="_username" class="form">
            </div>
            <div class="formG">
                <label  class="labelBoxPass">Password :</label>
                <input type="password" required name="_password" class="form">
            </div>  
            <div class="formG">
                <input type="submit" value="Se connecter" class="btn">
            </div>

        </div>

    </section>
{% endblock %}