{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>
                <h1>M'inscrire</h1>

        <div class="formCompte">
            <div class="formG">
                <p>Mon Login</p>
                <input type="text" class="form">
            </div>
            <div class="formG">
                <p>Mon e-Mail</p>
                <input type="text" class="form">
            </div>
            <div class="formG">
                <p>Mon mot de passe</p>
                <input type="text" class="form">
            </div>
            <div class="formG">
                <p>Encore mon mot de passe</p>
                <input type="text" class="form">
            </div>   
            <div class="formG">
                <button type="submit"class="btn"> S'inscrire </button>
            </div>
        </div>

    </section>
{% endblock %}
