<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
        <div class="nom">
            <p>CupCake Addict</p>
        </div>
            <div class="logo">
                <a href="{{path('accueil')}}"><img src="{{ asset('image/Logo.jpg') }}" alt="CupaCake_Addict"></a>
            </div>
            <div class="navbar">
                <ul>
                    <li>Les CupCakes</li>
                    <li>S'incrire</li>
                    <li>Se connecter</li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
