{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section class="aPropos" style="margin: 30vh 50vw 0 5vh">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eius sint a maxime tempora, minus provident unde dolores quisquam. Exercitationem delectus non error omnis sit quia hic nemo asperiores corrupti magnam quo commodi, deleniti magni quas cupiditate nostrum, ducimus autem quos ad recusandae expedita ipsa facilis laboriosam. Est vitae architecto rerum, eius provident soluta accusamus dicta repellendus. Quis voluptatum non amet quae magni et reprehenderit quam temporibus nam harum corporis maxime nemo, odit voluptas repellendus sint voluptates laudantium laboriosam tempora? Corporis voluptatem eveniet in aliquam molestias exercitationem quas fugit amet alias veniam libero excepturi, veritatis quos cupiditate cumque similique consectetur eaque. Iusto aliquid quidem dolore, veritatis minima hic magnam iure numquam consequatur. Architecto necessitatibus temporibus quo consequuntur? Alias voluptatem accusantium sit deserunt quas, dolor labore enim itaque quidem porro harum ab doloremque facere magni consectetur nostrum numquam nemo laboriosam. Unde corrupti quod ut placeat in, fugiat tempore odit est vitae assumenda ducimus aspernatur blanditiis facilis non expedita explicabo autem facere dolor velit reprehenderit delectus? Quo, dolore fugit. Quas recusandae commodi ratione, saepe voluptatum vitae, repudiandae aspernatur quod magni corporis ex. Laboriosam necessitatibus voluptatibus animi placeat vitae? Reprehenderit tempore eius ducimus beatae accusamus vitae, vero at et similique nulla, blanditiis totam!</p>
    </section>
{% endblock %}
